$blue: #1ab5b1;
$dark: #1f3643;
$darkBlue: #243846;
$yellow: #e9e01e;
$natural: cubic-bezier(.4,0,.2,1);
.big-header {
  font-size: 70px;
  line-height: 1.375em;
  @media (max-width: 991px) {
    font-size: 48px;
  }
  @media (max-width: 419px) {
    font-size: 42px;
  }
}
.small-header {
  font-size: 35px;
  line-height: 1.25em;
}
.medium-title {
  font-size: 60px;
  line-height: 1.375em;
}
.card-item {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15), 0 1px 1px 0 rgba(0,0,0,.10), 0 2px 1px -1px rgba(0,0,0,.09);
  border-radius: 3px;
  transition: box-shadow .3s $natural;
  background-color: white;
  &:hover {
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.1), 0 7px 10px 1px rgba(0,0,0,.07), 0 2px 16px 1px rgba(0,0,0,.06)
  }
  img {
    width: 100%;
    display: block;
    border-radius: 3px 3px 0 0;
  }
  .qode-instagram-feed li img {
    margin: 0 auto;
  }
}
