@import "vars";

.home {
  .carousel.full_screen {
    background-color: #1f3643;
  }
  .content .container .container_inner.page_container_inner {
    padding-top: 0;
  }
  #qode-home-slider {
    span.blue {
      color: $blue;
      font-weight: 700;
    }
    .slider_content.right {
      width: 60%;
      margin-left: 40%;
    }
  }
  #location {
    .left .wpb_column {
      padding: 0 0 0 2.5rem;
    }
    .hero_title, .hero_title p {
      color: white;
    }
    .hero_title ~ p {
      color: white;
      padding: 3rem 0;
      @media (max-width: 767px) {
        padding: 1.5rem 0;
      }
    }
    .hero_title ~ p + p {
      padding-top: 0;
    }
  }
  #why_soco {
    min-height: 100vh;
    background-color: $dark;
    @media (max-width: 767px) {
      padding: 3rem 0;
    }
    .vc_column_container.vc_col-sm-5.vc_col-sm-offset-1 {
      position: relative;
      z-index: 210;
      .qode-btn.qode-btn-solid {
        text-align: center;
      }
    }
    p, h4 {
      color: white;
    }
    .hero_title, .hero_title p {
      color: white;
    }
    .hero_title ~ p {
      color: white;
      padding: 3rem 0;
      @media (max-width: 767px) {
        padding: 1.5rem 0;
      }
    }
    .hero_title ~ p + p {
      margin-top: 0;
    }
  }
  #fees {
    color: $dark;
    p {
      color: $dark;
      width: 80%;
      margin: 3rem auto;
    }
  }
  #book {
    background-color: white;
    color: $dark;
    p {
      color: $dark;
    }
    .parallax_content.left .vc_column-inner {
      padding-right: 10%;
      > .wpb_wrapper {
        padding: 3rem 0;
      }
    }
    .qode-btn.qode-btn-solid.inverted {
      margin: 2rem 0;
      &:hover {
        background-color: #e9e01e;
        color: #1f3643;
      }
    }
  }
}

body .gform_wrapper input[type=submit] {
  margin: 2rem 0;
  &:hover {
    background-color: #e9e01e;
    color: #1f3643;
  }
}

#bookNow, #why_soco, #book_now, #qode-consultation-fees, .darkRow {
  background-color: #1f3643;
}

#bookNow, #why_soco, #book_now {
  background-position-x: 0 !important;
}

#bookNow a:hover {
  color: white;
  &.qode-btn {
    color: $yellow;
  }
}

.half-logo {
  color: white;
  .hero-title, p {
    color: white;
  }
  .yellowSquare {
    padding: 2rem;
    margin: 0 2rem;
    @media (max-width: 1200px) {
      margin: 0;
    }
    border: 1px solid $yellow;
    color: $yellow;
    text-align: center;
    .hero_title {
      font-size: 80px;
      margin-bottom: 1.5rem;
    }
    p {
      margin: 1.5rem 0;
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.qode-info-card {
  margin-bottom: 30px !important;
  padding-bottom: 3rem;
  &.alignLeft {
    .qode-info-card-text {
      text-align: left;
      .lPad {
        padding-left: 21px;
        ul {
          list-style-position: outside;
          padding-left: 21px;
          margin-left: -21px;
          li {
            margin-left: 21px;
          }
        }
      }
    }
    h5.SoCo {
      font-size: 18px;
    }
  }
  .qode-info-card-title {
    @extend .small-header;
    font-size: 30px;
    font-weight: 900;
    text-transform: none;
  }

  .exercise-physiology & {
    p {
      text-align: left;
    }
    .qode-info-card-text-holder {
      padding-bottom: 2rem;
    }
  }
  .grid_section:not(.vertical-info-cards) & {
    @extend .card-item;
    background-color: white;
    .vc_empty_space + &, .vc_empty_space + * + & {
      margin-top: -30px;
    }
  }
  .grayWorm & img:not(#_) {
    width: 210px;
    display: block;
    margin: 0 auto;
  }
  .vertical-info-cards & {
    margin-bottom: 0;
    padding-bottom: 0;
    .qode-info-card-text-holder {
      padding: 32px 20px 59px;
      @media(max-width: 1000px) {
        padding: 15px 0;
      }
      text-align: justify;
    }
    .qode-info-card-title {
      @media (min-width: 1001px) {
        min-height: 5.35rem;
        display: flex;
        align-items: center;
      }
      text-align: left;
      border: solid $yellow;
      border-width: 2px 0;
      padding: 10px 0;
    }
  }
}

.page-id-424 .flexRow {
  padding-bottom: 3rem !important;

}

.centered {
  text-align: center;
}

.soco_title {
  @extend .small-header;
  &.normal {
    font-weight: normal;
  }
  &.thin {
    font-weight: 200;
  }
  color: $darkBlue;
  font-size: 60px;
  text-transform: none;
  strong {
    font-weight: 900;
  }
  &.small-header {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }
}

.q_masonry_blog_post_text p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.q_masonry_blog_title a {
  @extend .small-header;
  font-size: 24px;
  font-weight: 900;
  text-transform: none;
}

.\31r-left {
  padding-left: 1rem;
}

.SideBySide .wpb_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > div {
    border: 2px solid $yellow;
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    line-height: 42px;
    min-width: 270px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 360px;
  }
  p {
    font-size: 27px;
    line-height: 32px;
  }
  h6 {
    font-size: 32px;
    line-height: 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    margin-bottom: 2rem;
  }
  h6, p {
    color: $darkBlue;
  }
}

.darkRow {
  p, div {
    color: white;
  }
  p {
    margin-top: 1rem;
  }
}

.hero_title, .hero_title p {
  @extend .big-header;
  font-style: normal;
  font-weight: 200;
  text-transform: none;
  text-shadow: none;
  strong {
    font-weight: 900;
    &::before, &::after {
      content: '';
      display: block;
      height: 0;
      width: 100%;
    }
  }
}

.subSection-title h4 {
  @extend .big-header;
  font-size: 60px;
  font-style: normal;
  text-transform: none;
  font-weight: 200;
  text-shadow: none;
}

.lead-message {
  p {
    font-size: 28px;
    line-height: 38px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 30px;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  p + p {
    padding-top: 0;
  }
}

.stickyPageMenu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .anchor-item {
    margin: .3rem;
    a {
      font-weight: 900;
      text-transform: none;
      font-size: 17px;
    }
  }
}

p.lead {
  font-size: 28px;
  line-height: 38px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .qode-advanced-tabs & {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.d-block:before {
  display: block;
  height: 0;
  content: '';
}

section#location {
  background-color: $dark;
}

.qode-btn {
  font-family: Montserrat, sans-serif;
  border-radius: 26px;
  &.qode-btn-solid {
    .half-logo & {
      margin-top: 30px;
    }
    background-color: $yellow;
    color: $dark;
    border: 2px solid $yellow;
    &.inverted {
      background-color: $dark;
      border-color: $dark;
      color: $yellow;
      &:hover {
        background-color: $yellow;
        color: $dark;
        border-color: $dark;
      }
    }
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 35px 12px;
    transition: background-color .3s $natural, color .3s $natural, border-color .3s $natural;
    &:hover {
      background-color: transparent;
      color: $yellow;
      border-color: $yellow;
    }
  }
}

body:not(#_) .gform_wrapper input[type=submit] {
  background-color: $yellow;
  color: $dark;
  border: 2px solid $yellow;
  font-weight: 600;
  text-transform: uppercase;
  padding: 13px 35px 12px;
  transition: background-color .3s $natural, color .3s $natural, border-color .3s $natural;
  border-radius: 24px;
  line-height: 1.35 !important;
  height: 47px;
  font-size: 14px;
  &:hover {
    background-color: #1f3643;
    color: #e9e01e;
    border-color: #1f3643;
  }
}

a.qode-qbutton-main-color, a.qode-btn.qode-qbutton-main-color {
  font-family: Montserrat, sans-serif;
  border-radius: 24px;
  border: none;
  background-color: $yellow;
  text-transform: uppercase;
  color: $dark;
  font-weight: 600;
  display: inline-block;
  padding: 13px 35px 12px;
  font-size: 14px;
  line-height: 18px;
  height: auto;
  width: auto;
  transition: background-color .3s $natural, color .3s $natural;
  &:hover {
    border: none;
    background-color: $dark;
    color: $yellow;
  }
  &:before {
    content: none;
  }
}

.grayWorm {
  .qode-info-card-text-holder {
    padding: 0 40px 40px;
  }
  .qode-info-card-image {
    padding-top: 30px;
  }
}

.q_masonry_blog article.post {
  @extend .card-item;
}

#back_to_top:hover span {
  background-color: $yellow;
  border-color: transparent;
  i {
    color: $dark
  }
}

.menuLinker {
  top: -60px;
  position: relative;
  height: 0;
}

.scroll_header_top_area {
  &:not(.scrolled) .q_logo > a {
    height: 80px !important;
    width: 280px !important;
    @media (max-width: 1500px) {
      width: 250px !important;
    }
  }
}

nav.main_menu > ul > li {
  > a {
    color: white;
    &.current {
      color: $yellow;
    }
  }
  &:hover a {
    color: $yellow;
  }
}

nav.main_menu ul li.active a,
.light.header_style_on_scroll nav.main_menu > ul > li.active > a,
.light.header_style_on_scroll nav.main_menu > ul > li > a:hover,
.light:not(.sticky):not(.scrolled) nav.main_menu > ul > li.active > a,
.light:not(.sticky):not(.scrolled) nav.main_menu > ul > li > a:hover {
  color: $yellow;
}

#footerSocial {
  margin-top: 30px;
  .qode_icon_shortcode > a {
    span {
      background-color: #c8c8c8;
      border-radius: 28px;
      padding: 10px;
      transition: background-color .3s ease-in-out;
    }
    &:hover span {
      background-color: $yellow;
      color: #3c3c3c;
    }
  }
}

.footer_top {
  .widget > h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 25px;
  }
  p {
    line-height: 32px;
  }
  li.page_item {
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
  }
}

.qode-instagram-feed li {
  padding: 0 1px !important;
  margin: 0 0 2px !important;
  img {
    margin: 0 auto;
  }
}

html, body {
  width: 100vw !important;
  overflow-x: hidden !important;
}

.slider_content > *:first-child {
  position: relative;
}

.doubleP {
  @media (min-width: 481px) {
    columns: 2;
  }
  font-size: 28px;
  p + p {
    margin-top: 1.5em;
  }
}

.beforeMap {
  z-index: 21;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .1), 0 12px 17px 2px rgba(0, 0, 0, .07), 0 5px 22px 4px rgba(0, 0, 0, .06)
}

.darkBlue h4 {
  text-transform: none;
  color: $darkBlue;
  font-size: 60px;
  font-weight: 200;
}

.SoCo {
  font-weight: 900;
  text-transform: none;
}

.blueColumn, .yellowColumn, .centerMe {
  text-align: center;
  h6 {
    @media (min-width: 1001px) {
      font-size: 35px;
    }
    font-weight: 900;
    padding-bottom: 2rem;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

.affiliateForm {
  h4 {
    font-size: 60px;
  }
  a {
    color: $darkBlue;
  }
}

.blueColumn {
  h6, p {
    color: white;
  }
}

.yellowColumn {
  h6, p, a {
    color: $dark;
  }
  margin-bottom: 30px;
}

.i {
  font-style: italic;
}

.ajax_loader {
  animation-name: pulse_effect;
  animation-duration: 3000ms;
  transform-origin: 0 0;
  animation-iteration-count: infinite;
  animation-timing-function: $natural;
}

@keyframes pulse_effect {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(.95);
  }
  85% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

h2, .h2, h2 a,
h3, .h3, h3 a,
h4, .h4, h4 a,
h6, .h4, h4 a {
  color: $darkBlue;
}

.main-column {
  border-right: 1px solid rgba(0, 0, 0, .07);
  p, ul, h3, li, ol {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
  }
  ul, li, ol {
    font-size: 18px;
  }
  p {
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 10px;
  }
  .wpb_single_image.vc_align_left {
    margin-top: 2rem;
  }
  ul {
    margin: 2rem 0;
    + img {
      margin-top: 2rem;
    }
    list-style: none;
    li:before {
      content: "\00b7";
      font-size: 2rem;
      line-height: 1rem;
      font-family: monospace;
      overflow: visible;
      margin-right: .5rem;
    }
  }
  .qode-advanced-tabs-nav li:before {
    content: none;
  }

  ol.numbered-list {
    list-style: none;
    counter-reset: li;
    > li {
      counter-increment: li;
      &::before {
        position: absolute;
        content: counter(li, decimal-leading-zero);
        display: inline-block;
        width: 1em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl;
        font-weight: 900;
      }
      ul {
        &.fix-top {
          margin-top: -1.35em;
        }
        > li {
          color: #3c3c3c;
          margin-bottom: 0;
          &:before {
            content: "\00b7";
            font-size: 2rem;
            line-height: 1.6rem;
            font-family: monospace;
            overflow: visible;
            margin-right: .5rem;
            color: transparent;
          }
        }
      }
    }
  }

  .q_list.circle {
    font-size: 20px;
    .\32 -columns {
      columns: 2;
    }
    .\33 -columns {
      display: flex;
      > li {
        margin-left: 2.5rem;
        flex: 1 0 auto;
      }
    }
    ul > li {
      color: $dark;
      margin: 7px 0;
      font-size: 18px;
      line-height: 1.35;
      &:before {
        position: absolute;
        left: 5px;
        width: 5px;
        height: 5px;
        top: 10px;
        background-color: $yellow;
      }
    }
    ul ul > li:before, ul.dark-bullets > li:before {
      background-color: $dark;
    }
    h3, h4 {
      font-weight: 900;
      font-size: 24px;
      text-transform: none;
      margin: 1rem 0 .5rem;
    }
    h4 {
      font-size: 32px;
      font-weight: 200;
    }
  }
  blockquote {
    padding: 2rem;
    margin: 3rem 0 1rem;
    h5 {
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
    }
  }
  [data-q_id] {
    margin-top: -30px;
    padding-top: 30px;
  }
}

.yellow-dots > li {
  color: $dark;
  font-size: 18px;
  line-height: 1.35;
  position: relative;
  list-style-type: none;
  padding-left: 21px;
  margin: 7px 0 7px -21px;
  &:before {
    position: absolute;
    left: 5px;
    width: 5px;
    height: 5px;
    top: 10px;
    background-color: #e9e01e;
    font-size: 2rem;
    line-height: 1rem;
    font-family: monospace;
    overflow: visible;
    margin-right: .5rem;
    display: block;
    content: '';
    border-radius: 3px;
  }
}

@media (max-width: 640px) {
  .main-column .q_list.circle {
    padding: 0 0 0 3rem;
  }
}

.wpb_text_column .page-title {
  @extend .big-header;
  font-size: 84px;
  @media (max-width: 1200px) {
    font-size: 65px;
  }
  @media (max-width: 767px) {
    font-size: 50px;
  }
  @media (max-width: 480px) {
    font-size: 42px;
    margin-bottom: 1em;
  }
  @media (max-width: 420px) {
    font-size: 36px;
  }
  text-transform: none;
  margin-top: .5em;
}

.hide-me {
  display: none;
}

.siblings-sidebar {
  .wpb_widgetised_column_heading {
    font-size: 35px;
    line-height: 1;
    text-transform: none;
    font-weight: 900;
    margin: 60px 0 30px;

  }
  .page-list {
    li {
      margin: 0 0 0 -16px;
      padding-left: 15px;
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: -40px;
        border: solid #ededed;
        background-color: white;
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
        width: 32px;
        height: 32px;
        transition: left .3s $natural;
      }
      &:hover:before, &.current_page_item:before {
        left: -21px;
      }
    }
    a {
      display: block;
      font-weight: 900;
      color: $darkBlue;
      opacity: .42;
      transition: opacity .3s $natural, transform .3s $natural;
      transform: translateX(0);
      padding: 7px 0;
      margin: -2px 0;
      &:hover {
        opacity: 1;
        transform: translateX(.8rem);
      }
    }
    .current_page_item a {
      opacity: 1;
      transform: translateX(.8rem);
    }
  }
}

.drop_down .second .inner ul li a,
.drop_down .second .inner ul li h5 {
  color: rgba(255, 255, 255, .8);
}

.qode-inter-page-navigation-holder {
  border-top: 1px solid rgba(0, 0, 0, .07);
  .qode-inter-page-title > a span {
    opacity: .12;
    transition: opacity .3s $natural;
  }
  &:hover {
    .qode-inter-page-title > a span {
      opacity: 1;
    }
  }
}

.wpb_widgetised_column .widget li:last-child {
  margin-left: -16px;
}

.qode-advanced-tabs {
  .qode-advanced-tab-container a {
    border-bottom: 1px dotted;
    color: $dark;
  }
  font-size: 20px;
  .lead {
    margin: 0 0 1rem -2rem;
  }
  .qode-advanced-tabs-nav {
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
      .ui-state-active {
        border-bottom: 2px solid $yellow !important;
        margin-bottom: -2px;
        overflow: hidden;
      }
    }
    li {
      background-color: transparent;
    }
  }
  &.qode-advanced-horizontal-tab {
    .qode-advanced-tabs-nav {
      border-bottom: 2px solid $yellow;
      .vertical-tabs & {
        @media(min-width: 1200px) {
          min-height: 790px;
        }
        @media (min-width: 1400px) {
          min-height: 920px;
        }
        border-bottom: none;
        border-right: 2px solid $yellow;
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem 0 0;
        flex: 0 0 222px;
      }
      overflow: visible;
      li {
        width: auto !important;
        display: block;
        h6 a {
          line-height: 1.25;
        }
        border: 2px solid transparent;
        border-bottom-width: 0;
        &.ui-state-active {
          border: 2px solid $yellow;
          border-bottom-width: 0;
          @media (max-width: 1000px) {
            background-color: #e9e01e;
          }
          .vertical-tabs & {
            border-width: 2px 0 2px 2px;
          }
          position: relative;
          &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: white;
            .vertical-tabs & {
              height: 100%;
              width: 2px;
              left: auto;
              bottom: auto;
              right: -2px;
              top: 0;
            }
          }
        }
        transition: background-color .1s $natural;
        &.ui-state-active a, &.ui-state-hover a {
          opacity: 1;
          color: $dark;
        }
        a {
          white-space: nowrap;
          padding: 20px;
          .vertical-tabs & {
            white-space: normal;
            padding: 10px 20px;
          }

          color: $dark;
          font-weight: 900;
          opacity: .42;
          @media (max-width: 1000px) {
            opacity: .27;
          }
          transition: opacity .3s $natural;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
        }
      }
    }
  }
}

.drop_down .second .inner ul,
.drop_down .second .inner ul li ul,
.shopping_cart_dropdown,
li.narrow .second .inner ul,
.footer_top_holder {
  background-color: #181818;
}

.d-flex {
  display: flex;
  align-content: space-between;
  > * {
    flex: 1 0 auto;
    &:not(:first-child) {
      margin-left: 2rem;
    }
  }
}

.inner-page-menu:not(#_) {
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  li {
    list-style-type: none;
    &:before {
      content: none;
    }
  }
  a {
    font-size: 22px;
    font-family: Montserrat, sans-serif;
    color: $darkBlue;
    display: block;
    font-weight: 900;
    transition: color .3s cubic-bezier(.4, 0, .2, 1);
    &:hover {
      color: $yellow;
    }
  }
}

.vertical-tabs .qode-advanced-tabs {
  display: flex;
}

.scroll_header_top_area {
  .header_bottom {
    @media (min-width: 1001px) {
      display: flex;
      align-items: center;
    }
  }
  .main_menu:not(#_) {
    > ul {
      transition: min-height .2s $natural;
      @media (min-width: 1001px) {
        width: calc(100vw - 460px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        align-content: center;
      }
      @media(max-width: 1470px) and (min-width: 1001px) {
        justify-content: flex-end;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          flex-direction: row;
        }
      }
      > li > a {
        line-height: 45px !important;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          line-height: inherit !important;
        }
      }
    }
    [href="https://online.tm2app.com/socoperformance"] {
      line-height: 1.35 !important;
      font-family: Montserrat, sans-serif;
      border-radius: 26px;
      background-color: $yellow;
      color: $dark;
      border: 2px solid $yellow;
      font-weight: 600;
      text-transform: uppercase;
      padding: 13px 35px 12px;
      transition: background-color .3s $natural, color .3s $natural, border-color .3s $natural;
      &:hover {
        background-color: transparent;
        color: $yellow;
        border-color: $yellow;
      }
    }
  }
  &.scrolled {
    .main_menu:not(#_) {
      left: 0 !important;
      padding-left: 280px;
      pointer-events: none;
      > ul {
        pointer-events: all;
        min-height: 90px;
        @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
          height: 90px;
        }
        @media(max-width: 1470px) and (min-width: 1001px) {
          margin-bottom: 15px;
        }

      }
      @media(max-width: 1470px) and (min-width: 1001px) {
        padding-left: 250px;
        > ul {
          margin-bottom: 15px;
        }
      }
    }
    @media(max-width: 1470px) and (min-width: 1001px) {
      .q_logo {
        > a {
          height: 64px !important;
        }
        /*img {
          top: -40%;
        }*/
      }
    }
  }
}

.definition-row {
  border-bottom: 1px solid #ddd;
}

.term-definition {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 35px;
  line-height: 1.3;
  ~ ol {
    list-style-position: inside;
  }
}

p.p-2 {
  padding: 2rem;
}

@media (max-width: 1000px) {
  .stretch-left.vc_col-has-fill {
    margin: 15px 0;
    padding: 0 15px;
    > .vc_column-inner {
      padding-top: 0;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header_bottom, nav.mobile_menu {
    background-color: transparent !important;
    ul {
      padding-bottom: 2rem;
    }
  }
  nav.mobile_menu ul li, nav.mobile_menu ul li, nav.mobile_menu ul li ul li, nav.mobile_menu ul li.open_sub > ul {
    border-color: rgba(255, 255, 255, .21);
  }
  nav.mobile_menu ul li a, nav.mobile_menu ul li h3 {
    color: white;
    &:hover {
      color: $yellow;
    }
  }
}

@media (min-width: 1001px) {
  .before-stretch {
    position: relative;
    z-index: 1;
  }
  .stretch-left {
    position: relative;
    > .vc_column-inner {
      position: relative;
      left: -200px;
      width: calc(100% + 200px);
      padding-left: 200px;
    }

  }
  .flexbox-row {
    .section_inner_margin, .element_from_fade > div {
      display: flex;
      align-items: flex-end;
    }
    blockquote {
      margin-bottom: 10px;
    }
  }
  .flex-top {
    .element_from_fade > div {
      align-items: flex-start;
      .vc_col-has-fill > .vc_column-inner {
        padding-top: 0;
      }
      .p-2 {
        font-size: 22px;
        line-height: 30px;
      }
      padding-bottom: 3rem;
      margin-bottom: 3rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 66.67%;
        height: 2px;
        background-color: #e9e01e;
        display: block;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .vertical-info-cards {
    .wpb_wrapper {
      display: flex;
      flex-wrap: wrap;
      .qode-info-card {
        flex: 1 0 33%;
        display: flex;
        flex-direction: column;
        position: relative;
      }
    }
    .vc_column-inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media(min-width: 1200px) {
  .vertical-info-cards .wpb_wrapper > .qode-info-card {
    flex: 1 0 25%;
    /*.qode-info-card-text-holder{
      &::after {
        content: '';
        display: block;
        width: calc(100% - 30px);
        background-color: $yellow;
        height: 2px;
        left: 15px;
        bottom: 0;
        position: absolute;
      }
    }*/
  }
}

.stretch-left a {
  color: $dark;
  border-bottom: 1px dotted #1f3643;
}

a, p a {
  border-bottom: 1px dotted #1f3643;
  &#back_to_top, &.ui-tabs-anchor, .qode-inter-page-navigation-holder &, .inner-page-menu & {
    border-width: 0;
  }
}

.header_inner, .footer_inner, .post_image, h2.entry_title {
  a {
    border-bottom: none;
  }
}

section#book_now {
  background-color: white;
}

.flexbox-row .vc_text_separator.full {
  border-top-color: transparent;
  > div {
    padding: 0 35px 0 10px;
    background-color: transparent;
    > * {
      color: $yellow;
      font-size: 3rem;
    }
  }
}

.page-id-452 .carousel-inner .item .image {
  background-position: left 0;
}

.centerPlus {
  text-align: center;
  h4 {
    line-height: 1.25;
    text-transform: none;
    font-weight: 900;
    font-size: 28px;
  }
  a {
    color: $dark;
  }
}

@media(max-width: 767px) {
  [class*="vc_col"]:not(.class) {
    position: static;
  }
}

.wpb_gmaps_widget .wpb_wrapper {
  padding: 0;
}

.scrolled_not_transparent .main_menu:not(#_) {
  transform: none;
}

.flexRow {
  .section_inner_margin {
    display: flex;
    .leftCol {
      @media (max-width: 1399px) and (min-width: 768px) {
        .wpb_wrapper, .wpb_single_image, .wpb_wrapper, .vc_single_image-wrapper {
          display: flex;
          flex: 1;
        }
        img {
          object-fit: cover;
        }
      }
      display: flex;
      flex-direction: column;
      .vc_column-inner {
        background-size: cover;
        flex: 1;
        margin-bottom: 0;
        padding: 0;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      .wpb_single_image .vc_single_image-wrapper {
        display: block;
      }
      .wpb_single_image {
        width: 100%;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .leftCol, .rightCol {
    display: flex;
    flex-direction: column;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      display: table-cell;
    }
    > * {
      flex: 1;
    }
  }
  .rightCol .vc_column-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .qode-btn {
      margin-top: 1.5rem;
    }
  }
  .vc_column-inner {
    background-color: #f3f3f3;
    padding: 3rem;
  }
  &.darkRow .vc_column-inner {
    background-color: $darkBlue;
    color: white;
    h3 {
      color: $yellow;
    }
  }
}

.centered-items {
  padding: 3rem;
  > div {
    display: flex;
    justify-content: center;
    font-size: 21px;
    line-height: 28px;
    > * {
      padding: 0 .25rem;
    }
  }
}

sup {
  font-size: .8em;
  position: relative;
  top: -.4em;
}

.qode-accordion-holder {
  padding-bottom: 1.5rem;
  .qode-title-holder {
    background-color: #243846;
    color: $yellow;
    font-size: 18px;
    font-weight: 900;
    text-transform: none;
    margin-top: 4px;
    transition: box-shadow .2s $natural;
    &.ui-state-active {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15), 0 1px 1px 0 rgba(0, 0, 0, .10), 0 2px 1px -1px rgba(0, 0, 0, .09);
    }
  }
}

.qode-accordion-holder .qode-accordion-content {
  margin-bottom: 5px;
  background-color: white;
  transition: box-shadow .2s $natural;
  @media(max-width: 1199px) {
    padding-left: 3rem;
    .q_list.circle {
      padding-left: 0;
    }
  }
  &.ui-accordion-content-active {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15), 0 1px 1px 0 rgba(0, 0, 0, .10), 0 2px 1px -1px rgba(0, 0, 0, .09);
    margin-bottom: 6px;
  }
  .q_list.circle ul > li {
    color: $dark;
  }
}

.gform_fields .gfield {
  input, textarea, select {
    &.medium {
      padding: 8px 4px;
      background-color: #f3f3f3;
    }
  }
}

.main-column p:empty {
  display: none;
  &:first-child + .lead {
    padding-top: 0;
  }
}

section#location {
  background-size: cover;
}

@media (max-width: 1199px) {
  .home #location .left .vc_col-sm-offset-6 {
    padding-left: 0;
  }
}

@media (max-width: 1000px) {
  header .q_logo img.mobile {
    max-height: 70px;
    max-width: 60vw;
  }
}

.parallax_content.left {
  padding: 2rem 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .home h2.q_slide_title {
    display: none;
  }
  .q_slider .slider_content_inner {
    left: 0 !important;
    width: 100% !important;
  }
  section#location {
    background-image: none !important;
    .vc_column-inner {
      text-align: center;
    }
  }
  .home #location .left .wpb_column {
    padding-left: 0;
  }
  body, p {
    font-size: 18px;
  }
  .carousel-inner .content_vertical_middle, .carousel.full_screen {
    min-height: 300px !important;
  }
  #bookNow {
    .parallax_content.left {
      width: 100%;
      .yellowSquare {
        width: calc(100% - 2rem);
        margin: 1rem;
        box-sizing: border-box;
      }
    }
    .\32r-left {
      padding: 0 2rem 2rem;
      box-sizing: border-box;
      p, .hero_title {
        text-align: center !important;
      }

    }
  }
  .half-logo .yellowSquare .hero_title {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .vc_text_separator, .vc_text_separator.full {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .header_bottom, footer .container_inner, nav.content_menu {
    padding: 0 45px;
  }
}

#book, #book_now {
  @media (max-width: 768px) {
    background-size: 150%;
    background-position-x: center !important;
  }
  .hero_title, p:last-child {
    text-align: center !important;
  }
}

nav.mobile_menu ul li span.mobile_arrow i, nav.mobile_menu ul li span.mobile_arrow i {
  color: $yellow;
}

nav.mobile_menu ul li a:hover, nav.mobile_menu ul li.active > a, nav.mobile_menu ul li.current-menu-item > a {
  color: $yellow;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

  .menu-item-type-custom {
    box-sizing: border-box;
    align-content: center;
    a {
      height: auto !important;
    }
  }
  #menu-main-menu {
    height: 164px;
  }
}

.qode-title-hidden:not(#_) .content {
  background-color: #fff !important;
  display: flex;
  flex-direction: column;
}

.page_not_found {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footerSocial {
  display: flex;
  justify-content: space-between;
  > span {
    margin: 10px 0 !important;
  }
}

.darkLinks a {
  color: #1f3643
}

@media (min-width: 1200px) {
  .vertical-tabs {
    border-bottom: 1px solid #e6ddd8
  }
}

aside .widget {
  margin: 0 0 32px;
  &.qode-widget-sticky-sidebar {
    padding-top: 32px;
  }
}

.column1 h2, .column1 .h2, h2 a {
  font-size: 66px;
  line-height: 66px;
}

.fixed.scrolled_not_transparent:not(.transparent) {
  background-color: #1f3643;
}

.light.header_style_on_scroll nav.main_menu > ul > li.active > a, .light.header_style_on_scroll nav.main_menu > ul > li:before, .light.header_style_on_scroll nav.main_menu > ul > li > a:hover, .light:not(.sticky):not(.scrolled) nav.main_menu > ul > li.active > a, .light:not(.sticky):not(.scrolled) nav.main_menu > ul > li:before, .light:not(.sticky):not(.scrolled) nav.main_menu > ul > li > a, .light:not(.sticky):not(.scrolled) nav.main_menu > ul > li > a:hover {
  color: #eefbfa;
}

.widget {
  h6, .h6, h6 a {
    line-height: 2.4;
  }
}

.page_not_found p {
  max-width: 700px;
}

@media (min-width: 1400px) {
  .page_not_found p {
    max-width: 60%;
  }
}

.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
  line-height: 29px;
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    padding: 9px 4px;
  }
}

@media only screen and (min-width: 641px) {
  .gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium {
    min-height: 39px;
  }
}
